@*Copyright 2019 the pokefans authors. See copying.md for legal info*@
@model TradingNoteViewModel
@{
    Layout = null;
}
Das Wifi-Angebot <a href="@Url.Map("tausch/"+Model.Offer.Id)">@Model.Offer.Title</a> wurde durch die Moderation wieder freigeschalten.
