@*Copyright 2019 the pokefans authors. See copying.md for legal info*@
@model Pokefans.Data.Wifi.WifiBanlist

<p>Tauschbörsen-Verwendungseinschränkungen wurden geändert. Die neuen Einstellungen sind:</p>
<p>
    @printSetting(Model.CanAddOffers, "Angebote erstellen möglich")

    @if (!Model.CanAddOffers && Model.ExpireAddOffers.HasValue)
    {
        <text>(bis zum @(Model.ExpireAddOffers.Value.ToString("dd.MM.yyyy hh:mm")))</text>
    }

    @printSetting(Model.CanInterest, "Interessieren möglich")
    @if (!Model.CanInterest && Model.ExpireInterest.HasValue)
    {
        <text>(bis zum @(Model.ExpireInterest.Value.ToString("dd.MM.yyyy hh:mm")))</text>
    }
</p>

@helper printSetting(bool value, string message) {
    <span>
        @if(value) {
            <i class="fa fa-check-square text-success"></i> @message
        }
        else {
            <i class="fa fa-times-circle text-danger"></i> @message
        }
    </span>
}