/* this is all temporary stuff and should be merged into the main stylesheet */
.navbar + #section, .navbar + .navbar, .navbar + .sticky-wrapper {
    margin-top: -19px;
    margin-bottom: 19px
}

.wrap > .sticky-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important
}

.navbar-form {
    margin-top: 14.5px;
    margin-bottom: 14.5px
}

@media (min-width: 769px) {
    .sidebar-spacer {
        height: 65px
    }
}

.navbar-nocollapse .navbar-collapse.collapse {
    display: block !important
}

.navbar-nocollapse .navbar-nav > li, .navbar-nocollapse .navbar-nav {
    float: left !important
}

    .navbar-nocollapse .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important
    }

.navbar-nocollapse .navbar-right {
    float: right !important
}

#footer {
    margin-top: 2em
}

/* for waypoint stickies */
.stuck {
    position: fixed;
    top: 0;
    z-index: 100
}

    .stuck.navbar {
        width: 100%
    }

/* fanart related customizations */
.fanart-warning {
    margin-top: 5px
}

.arrow_box {
    position: relative;
    background: transparent
}

    .arrow_box:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 170, 46, 0);
        border-top-color: #FFAA2E;
        border-width: 15px;
        margin-left: -15px
    }

.hl {
    padding: 5px;
    text-align: center;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear
}

    .hl.alert {
        background: #F7F778; /* IE */
        background: rgba(255, 255, 0, 0.5) /* Everyone else */
    }

.rating-star {
    color: #E5C100 /* gold */
}

.fanart-element {
    float: left;
    width: 130px;
    border: 1px solid #eee;
    border-top: none;
    border-right: none
}

.fanart-container {
    max-width: 535px;
    border: 1px solid #eee;
    border-left: none;
    border-bottom: none
}

.fanart-description {
    padding-top: 1em
}

.list-news li:before {
    font-family: 'FontAwesome';
    content: '\f1ea';
    margin: 0 5px 0 -15px
}

.list-spielehilfen li:before {
    font-family: 'FontAwesome';
    content: '\f0f6';
    margin: 0 5px 0 -15px
}

.list-spielehilfen li {
    list-style-type: none
}

@media(min-width: 1366px) {
    .container {
        width: 1366px
    }

    #content {
        width: 1000px
    }
}

.select2-container--default .select2-selection--single {
    border-color: #ccc !important;
    border-radius: 0 !important
}

.select2-container--default .select2-selection--single {
    height: 34px !important
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #555 !important;
        line-height: 34px !important
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        line-height: 32px !important
    }

.lpic {
    float: left;
    max-width: 200px;
    margin-right: 10px
}

.rpic {
    padding-top: 20px
}

    .rpic img {
        max-width: 75px
    }

.tradinglist li {
    border-bottom: 1px solid #ccc;
    padding: 15px 0 15px 0
}

#pfcarousel .item-inner {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

    #pfcarousel .item-inner > div {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0,0,0,.7) 80%)
    }

#pfcarousel h2, #pfcarousel p {
    text-shadow: 1px 1px 1px #000;
    font-weight: 500;
    color: white;
    margin-bottom: 0
}

#pfcarousel p {
    font-size: 18px;
    color: #fff;
    text-shadow: 0 0 5px black
}

#pfcarousel {
    padding: 0;
    margin-top: -19px
}

    #pfcarousel .carousel-caption {
        position: initial;
        bottom: auto
    }

.carousel-control {
    height: 400px;
    padding-top: 200px
}

#search {
    padding: 0 15px
}

    #search .clearfix {
        padding: 7px 0
    }

    #search form {
        padding: 9px
    }

#searchbox {
    max-width: 450px;
    padding: 0;
    border-right: none
}

    #searchbox > input {
        max-width: 285px;
        min-width: 50px
    }

    #searchbox select {
        display: inline;
        max-width: 120px;
        min-width: 50px
    }

.copyright-links .fa {
    vertical-align: middle
}

#breadcrumbs {
    padding: 2em 0 3em 0
}

@media (max-width: 1199px) {
    .container {
        padding-left: 0;
        padding-right: 0
    }
}

@media (max-width: 767px) {
    .container {
        width: auto
    }
}

/* Forum */
.foruminfo small {
    font-size: 0.7em !important
}

.foruminfo div {
    line-height: 1;
    padding-top: 5px;
    text-align: center
}

    .foruminfo div:first-child {
        margin-top: 10px
    }

.forum {
    border-bottom: 1px solid #ddd;
    padding: 5px 0 9.5px 0
}

    .forum ul:last-child {
        margin-bottom: 0
    }

.category .forum:last-child {
    border: none
}

.category-header {
    border-bottom: 1px solid #e58800
}

.forum .read {
    color: #e5cdaa
}

.forum .unread {
    color: #e58800
}

.forum-title {
    font-weight: 300
}

#copyright .note, #copyright .note a {
    color: #96BADC
}

@media(max-width:768px) {
    /*.container {
        padding-left: 0 !important;
        padding-right: 0 !important
    }

    body {
        background: #fff
    }*/

    .forum-title {
        font-weight: 300
    }
}

.forum-full-editor .emojionearea-editor {
    min-height: 15em !important;
    max-height: 25em !important;
}

.feed-avatar {
    max-height: 60px;
    display: inline;
}

table.private-messages tr th:first-child, table.private-messages td th:first-child {
    /* checkbox column */
    width: 1.5em
}

    table.private-messages tr th:first-child input[type="checkbox"]:not(:checked),
    table.private-messages tr td:first-child input[type="checkbox"]:not(:checked) {
        visibility: hidden
    }

table.private-messages tr:hover th:first-child input[type="checkbox"]:not(:checked),
table.private-messages tr:hover td:first-child input[type="checkbox"]:not(:checked) {
    visibility: visible;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

table.private-messages tr th:nth-child(3), table.private-messages tr td:nth-child(3) {
    width: 17%;
}

table.private-message tr th:last-child, table.private-messages tr td:last-child {
    width: 15%;
}

.btn-fullwidth {
    width: 100%;
}

.bootstrap-tagsinput {
    width: 100%
}

    .bootstrap-tagsinput input {
        font: inherit !important;
        border: none !important;
    }

.pm-body {
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    padding-top: 1em;
    padding-bottom: 1em;
}

.oldmessages {
    max-height: 200px;
    overflow: scroll;
    padding: 10px;
}

    .oldmessages .oldmessage {
        border-top: 1px #eee solid;
    }

        .oldmessages .oldmessage:first-child {
            border-top: none;
        }

.bs-wizard {
    margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
    }

        .bs-wizard > .bs-wizard-step + .bs-wizard-step {
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
            color: #595959;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 14px;
        }

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            background: #fbe8aa;
            top: 45px;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
        }

            .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
                content: ' ';
                width: 14px;
                height: 14px;
                background: #fbbd19;
                border-radius: 50px;
                position: absolute;
                top: 8px;
                left: 8px;
            }

        .bs-wizard > .bs-wizard-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin: 20px 0;
        }

            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #fbe8aa;
            }

        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            background-color: #f5f5f5;
        }

            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                opacity: 0;
            }

        .bs-wizard > .bs-wizard-step:first-child > .progress {
            left: 50%;
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:last-child > .progress {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }
/*END Form Wizard*/

.notification {
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
    padding: 0.5em;
}
    .notification.unread {
        border-left: 4px solid #eea236;

    }

    /* loading spinner */
.bokeh {
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
    z-index: 2147483647;
}

    .bokeh li {
        border-radius: 50%;
        height: 0.2em;
        position: absolute;
        width: 0.2em;
    }

        .bokeh li:nth-child(1) {
            animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
            background: #00c176 none repeat scroll 0 0;
            left: 50%;
            margin: 0 0 0 -0.1em;
            top: 0;
            transform-origin: 50% 250% 0;
        }

        .bokeh li:nth-child(2) {
            animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
            background: #ff003c none repeat scroll 0 0;
            margin: -0.1em 0 0;
            right: 0;
            top: 50%;
            transform-origin: -150% 50% 0;
        }

        .bokeh li:nth-child(3) {
            animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
            background: #fabe28 none repeat scroll 0 0;
            bottom: 0;
            left: 50%;
            margin: 0 0 0 -0.1em;
            transform-origin: 50% -150% 0;
        }

        .bokeh li:nth-child(4) {
            animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
            background: #88c100 none repeat scroll 0 0;
            margin: -0.1em 0 0;
            top: 50%;
            transform-origin: 250% 50% 0;
        }

@keyframes opa {
    12% {
        opacity: 0.8;
    }

    19.5% {
        opacity: 0.88;
    }

    37.2% {
        opacity: 0.64;
    }

    40.5% {
        opacity: 0.52;
    }

    52.7% {
        opacity: 0.69;
    }

    60.2% {
        opacity: 0.6;
    }

    66.6% {
        opacity: 0.52;
    }

    70% {
        opacity: 0.63;
    }

    79.9% {
        opacity: 0.6;
    }

    84.2% {
        opacity: 0.75;
    }

    91% {
        opacity: 0.87;
    }
}

@keyframes rota {
    100% {
        transform: rotate(360deg);
    }
}

/* animated check mark */
.check_mark {
    width: 80px;
    height: 130px;
    margin: 0 auto;
}

.sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

    .sa-icon.sa-success {
        border-color: #4CAF50;
    }

        .sa-icon.sa-success::before, .sa-icon.sa-success::after {
            content: '';
            -webkit-border-radius: 40px;
            border-radius: 40px;
            border-radius: 50%;
            position: absolute;
            width: 60px;
            height: 120px;
            background: white;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .sa-icon.sa-success::before {
            -webkit-border-radius: 120px 0 0 120px;
            border-radius: 120px 0 0 120px;
            top: -7px;
            left: -33px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 60px 60px;
            transform-origin: 60px 60px;
        }

        .sa-icon.sa-success::after {
            -webkit-border-radius: 0 120px 120px 0;
            border-radius: 0 120px 120px 0;
            top: -11px;
            left: 30px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0px 60px;
            transform-origin: 0px 60px;
        }

        .sa-icon.sa-success .sa-placeholder {
            width: 80px;
            height: 80px;
            border: 4px solid rgba(76, 175, 80, .5);
            -webkit-border-radius: 40px;
            border-radius: 40px;
            border-radius: 50%;
            box-sizing: content-box;
            position: absolute;
            left: -4px;
            top: -4px;
            z-index: 2;
        }

        .sa-icon.sa-success .sa-fix {
            width: 5px;
            height: 90px;
            background-color: white;
            position: absolute;
            left: 28px;
            top: 8px;
            z-index: 1;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .sa-icon.sa-success.animate::after {
            -webkit-animation: rotatePlaceholder 4.25s ease-in;
            animation: rotatePlaceholder 4.25s ease-in;
        }

    .sa-icon.sa-success {
        border-color: transparent\9;
    }

        .sa-icon.sa-success .sa-line.sa-tip {
            -ms-transform: rotate(45deg) \9;
        }

        .sa-icon.sa-success .sa-line.sa-long {
            -ms-transform: rotate(-45deg) \9;
        }

.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

@-webkit-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

.sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

    .sa-icon.sa-success .sa-line.sa-tip {
        width: 25px;
        left: 14px;
        top: 46px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .sa-icon.sa-success .sa-line.sa-long {
        width: 47px;
        right: 8px;
        top: 38px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

@-webkit-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}
