/* this is all temporary stuff and should be merged into the main stylesheet */
.navbar + #section, .navbar + .navbar, .navbar + .sticky-wrapper {
    margin-top: -19px;
    margin-bottom: 19px;
}

.navbar-form {
    margin-top: 14.5px;
    margin-bottom: 14.5px;
}

.navbar-nocollapse .navbar-collapse.collapse {
display: block!important;
}

.navbar-nocollapse .navbar-nav>li, .navbar-nocollapse  .navbar-nav {
float: left !important;
}

.navbar-nocollapse .navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-nocollapse .navbar-right {
float: right!important;
}

#footer {
    margin-top: 2em;
}

/* for waypoint stickies */
.stuck {
  position:fixed;
  top:0;
  z-index:100;
}
.stuck.navbar {
    width: 100%;
}

/* fanart related customizations */
.fanart-warning {
    margin-top: 5px;
}

.hl {
    padding: 5px;
    text-align: center;

    -webkit-transition: background-color 200ms linear;
       -moz-transition: background-color 200ms linear;
         -o-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
            transition: background-color 200ms linear;
}
.hl.alert {
    background: #F7F778; /* IE */
    background: rgba(255, 255, 0, 0.5); /* Everyone else */
}

.rating-star {
    color: #E5C100; /* gold */
}

.fanart-element {
  float: left;
  width: 130px;
  border: 1px solid #eee;
  border-top: none;
  border-right: none;
}
.fanart-container {
  max-width: 535px;
  border: 1px solid #eee;
  border-left: none;
  border-bottom: none;
}

.list-news li:before {
    font-family: 'FontAwesome';
    content: '\f1ea';
    margin: 0 5px 0 -15px;   
}

.list-spielehilfen li:before {
    font-family: 'FontAwesome';
    content: '\f0f6';
    margin 0 5px 0 -15px;
}
