@{
        Layout = "~/Areas/user/Views/Shared/LoginLayout.cshtml";
        ViewBag.Title = "E-Mail bestätigen";
}

<h2 class="text-center">Email bestätigt</h2>

<p>Deine Registrierung auf Pokefans ist damit abgeschlossen. Du kannst dich nun anmelden. Viel Spaß in unserer Community!</p>

<a href="@Url.Action("Login")" class="btn btn-success">Zur Anmeldung</a>
