@{
        Layout = "~/Areas/user/Views/Shared/LoginLayout.cshtml";
        ViewBag.Title = "Kennwort zurücksetzen";
}


<h2 class="text-center">Kennwort vergessen?</h2>

<p class="alert alert-success">Wenn die E-Mail-Adresse, die du eingegeben hast, bei uns registriert ist, erhältst du eine E-Mail mit Informationen, wie du deinen Account wiederherstellen kannst.</p>
<a href="@Url.Action("Login")" class="btn btn-link">Zurück</a>