@using Pokefans.Models
@{
    ViewBag.Title = "Aktivierungs-E-Mail erneut senden";
}

<div class="alert alert-success">Wenn deine E-Mail-Adresse bei uns registriert ist, haben wir dir einen neuen Aktivierungsschlüssel zugesandt. <a href="@Url.Map("", "")">Zur Startseite</a></div>