@using Pokefans.Models
@model LoginViewModel
@{
    Layout = "~/Areas/user/Views/Shared/LoginLayout.cshtml";
    SiteTitle = "Aktivierungs-E-Mail erneut senden";
}

<h2 class="text-center">Aktivierungs-E-Mail erneut senden</h2>

<p>
    Gib hier deine E-Mail-Adresse ein, die du zur Registrierung benutzt hast. Wenn wir sie in unserer Datenbank finden,
    senden wir dir einen neuen Aktivierungslink zu. Bitte prüfe, ob dieser eventuell in deinem Spam-Ordner landet. Falls
    du dich immer noch nicht anmelden kannst oder keine E-Mail kommt, <a href="mailto:forum@pokefans.net">kontaktiere uns bitte</a>.
</p>
<hr />
<form method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="email" placeholder="janedoe@example.com" name="mail" class="form-control" />
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Erneut senden</button>
        <a href="@Url.Action("Login")" class="btn btn-link">Zurück</a>
    </div>
</form>