@*Copyright 2016 the pokefans authors. See copying.md for legal info.*@
@{
    SiteTitle = "Verboten";
    SiteHeader = "Verboten";
    SiteDescription = "";
    ActiveMenuKey = "fanart";
}

<h2>403 Verboten</h2>

<p>Du kannst natürlich nur deine eigenen Einreichungen bearbeiten, daher haben wir dir den Zugriff auf die Bearbeitungsseite dieser Einreichung gesperrt.</p>
<p>Wenn du glaubst, dass es sich dabei um einen Fehler handelt, wende dich an einen Administrator.</p>
<p><a href="@Url.Action("Index", "FanartHome")">Zurück zur Fanart-Startseite</a></p>