<div id="base-statistics-box"
    data-spinner="base-statistics-spinner"
    data-load="@Url.Map("api/v1/wifi/statistics", "mitarbeit")"
    role="ko-data">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Statistiken</h3>
            <p class="box-tools pull-right">
                <a class="text-muted"
                   data-bind="click: loadData"><i class="fa fa-refresh"></i></a>
            </p>
        </div>
        <div class="box-body text-center">
            @Widgets.Spinner("base-statistics-spinner")
            <div data-bind="with: model">
                <div class="col-sm-4">
                    <div class="col-xs-12">
                        <div class="statistics-large" data-bind="text: total"></div>
                        <small>Angebote insgesamt</small>
                    </div>
                    <div class="col-xs-12">
                        <div class="statistics-large" data-bind="text: totalOpen"></div>
                        <small>Offene Angebote</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-xs-12">
                        <div class="statistics-large" data-bind="text: newOffers"></div>
                        <small>Neue Angebote in den letzten 7 Tagen</small>
                    </div>
                    <div class="col-sm-12">
                        <div class="statistics-large" data-bind="text: finished"></div>
                        <small>Abgeschlossene Angebote in den letzten 7 Tagen</small>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-xs-12">
                        <div class="statistics-large" data-bind="text: openReports"></div>
                        <small>Offene Meldungen</small>
                    </div>
                    <div class="col-xs-12">
                        <div class="statistics-large" data-bind="text: reports"></div>
                        <small>Meldungen in den letzten 7 Tagen</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>