// copyright 2019 the pokefans authors. see copying.md for legal info

#breadcrumbs {
    .navbar-text > span > a {
        text-decoration: none;
        color: $navbar-light-color;

        &:hover {
            color: $navbar-light-hover-color;
        }

        &:active {
            color: $navbar-light-active-color;
        }
    }
    
    @include media-breakpoint-down("md") {
        flex-direction: column !important;
    }
}