// copyright 2019 the pokefans authors. see copying.md for legal info
.kommentar-info {
    background-color: $gray-300;
    color: $gray-800;
    padding: 6px 10px 4px;
    border-bottom: 1px solid $gray-200;
    font-size: $font-size-base * 0.9;
}

.kommentar-text {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 3px solid $gray-200;
}
