// copyright 2019 the pokefans authors. see copying.md for legal info

.lpic {
    float: left;
    max-width: 200px;
    margin-right: 10px
}

.rpic {
    padding-top: 20px;

    img {
        max-width: 75px
    }
}

.tradinglist li {
    border-bottom: 1px solid #ccc;
    padding: 15px 0 15px 0
}

/*Form Wizard*/
// TODO: colors
.bs-wizard {
    margin-top: 40px;
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;

    & > .bs-wizard-step {
        padding: 0;
        position: relative;

        .bs-wizard-stepnum {
            color: #595959;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .bs-wizard-info {
            color: #999;
            font-size: 14px;
        }

        & > .bs-wizard-dot {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            background: #fbe8aa;
            top: 45px;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;

            &:after {
                content: ' ';
                width: 14px;
                height: 14px;
                background: #fbbd19;
                border-radius: 50px;
                position: absolute;
                top: 8px;
                left: 8px;
            }
        }

        & > .progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin: 20px 0;

            & > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #fbe8aa;
            }
        }

        &.complete > .progress > .progress-bar {
            width: 100%;
        }

        &.active > .progress > .progress-bar {
            width: 50%;
        }

        &:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        &:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        &.disabled > .bs-wizard-dot {
            background-color: #f5f5f5;

            &:after {
                opacity: 0;
            }

            a.bs-wizard-dot {
                pointer-events: none;
            }
        }

        &:first-child > .progress {
            left: 50%;
            width: 50%;
        }

        &:last-child > .progress {
            width: 50%;
        }
    }
}
