// Include OpenSans from google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700,700italic);

// brand colors
$color-primary-0: #368EE2; /* Main Primary color */
$color-primary-1: #9FCAF3;
$color-primary-2: #63A8EA;
$color-primary-3: #0E74D7;
$color-primary-4: #074F95;

$color-complement-0: #FFAA2E; /* Main Complement color */
$color-complement-1: #FFD8A0;
$color-complement-2: #FFBF61;
$color-complement-3: #FF9700;
$color-complement-4: #E58800;

$theme-colors: (
    "brand": $color-primary-0,
    "complement": $color-complement-0
);

// set primary and secondary to our liking
$primary: $color-primary-0;
$secondary: $color-complement-0; // let's see if this is a good idea

// disable rounded stuff
$enable-rounded: false;

// Font family, size, line height
$font-family-sans-serif: "OpenSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 0.875rem;
$line-height-base: 20/14;


$h1-font-size: $font-size-base * 2.6;
$h2-font-size: $font-size-base * 2.2;
$h3-font-size: $font-size-base * 1.7;
$h4-font-size: $font-size-base * 1.3;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.85;

$headings-font-weight: 300;
$headings-color: $color-complement-4;
