@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        @Html.ActionLink("Hallo " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new {title = "Manage"})
        <a href="javascript:document.getElementById('logoutForm').submit()">Abmelden</a>
    }
}
else
{
    @Html.ActionLink("Registrieren", "Register", "Account", "user", new {area = "user"}, new {id = "registerLink"})<span> | </span>
    @Html.ActionLink("Anmelden", "Login", "Account", "user", new { area = "user" }, new {id = "loginLink"})
}