<div class="navbar navbar-light bg-pf-grey navbar-expand" id="forumbar">
    <div class="clearfix">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="@Url.Map("")" id="home">Übersicht</a></li>
            <li><a class="nav-link" href="@Url.Map("neue-beitrage.html")">Neue Beiträge</a></li>
            <li><a class="nav-link" href="@Url.Map("ungelesene-beitrage.html")">Ungelesene Beiträge</a></li>
        </ul>
    </div>
</div>