<div class="navbar navbar-default navbar-nocollapse" id="forumbar">
    <div class="clearfix">
        <ul class="nav navbar-nav">
            <li class="active"><a href="@Url.Map("")" id="home">Übersicht</a></li>
            <li><a href="@Url.Map("neue-beitrage.html")">Neue Beiträge</a></li>
            <li><a href="@Url.Map("ungelesene-beitrage.html")">Ungelesene Beiträge</a></li>
        </ul>
    </div>
</div>