
@{
    SiteTitle = "Pokefans | Mitarbeitsbereich - Dashboard";
    SiteHeader = "Dashboard";
    SiteDescription = "Deine Übersicht";
    Layout = "~/Areas/mitarbeit/Views/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title">Hallo!</h3></div>
    <div class="panel-body">
        Ich befinde mich derzeit noch im Aufbau. Schau bald wieder vorbei!
    </div>
</div>
